# =========================================
# BUILD
# =========================================
bin/
obj/
artifacts/
publish/

# =========================================
# VISUAL STUDIO
# =========================================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pubxml.user

# =========================================
# RIDER
# =========================================
.idea/
*.DotSettings.user

# =========================================
# VS CODE
# =========================================
.vscode/
*.code-workspace

# =========================================
# LOGS
# =========================================
*.log
logs/

# =========================================
# ENVIRONMENT
# =========================================
.env
appsettings.Development.json

# =========================================
# NUGET
# =========================================
*.nupkg
*.snupkg
nupkg/

# =========================================
# TEST RESULTS
# =========================================
TestResults/

# =========================================
# EF DATABASE FILES
# =========================================
*.mdf
*.ldf

# =========================================
# TEMP FILES
# =========================================
*.tmp
*.temp

# =========================================
# FILE UPLOAD
# =========================================
src/Presentation/SearchEngine.WebAPI/storage/uploads/*
!src/Presentation/SearchEngine.WebAPI/storage/uploads/.gitkeep

# =========================================
# MAINTENANCE DOCUMENTS
# =========================================
docs/maintenance/

# =========================================
# OS FILES
# =========================================
Thumbs.db
Desktop.ini
.DS_Store